{{> head}}
{{! --------------- }}
<div class="container align-middle">
    
    <h3>Datos de interes</h3>
        <div class = 'card  border-primary'>
            <div class="card-body">
            <span class ="d-flex bd-highlight d-block border-bottom">Motivo de la consulta:  
             {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
             </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Diagnostico: 
            {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
            </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Detalle de los analisis: 
            {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
            </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Detalle de recetas: 
            {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
            </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Proxima revision: 
            {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
            </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Especialista: 
            {{!<label class = 'w-25 p-3  justify-content-center border border-primary '></label><br>}}
            </span>
            </div>
           
<span>
<h1> <i class="fas fa-></i> Turno </h1>
        </div>
    
</div>
{{! --------------- }}
{{> footer}}