{{> head}}
{{! --------------- }}
<div class="container-fluid">
  <h1 class="display-5 text-center">Historia clínica del paciente</h1>
  <h5 class="display-5 text-center mb-5">Identificador de paciente: <span id="pacienteId"></span></h5>
  <div class="container">
    <h5 class="mb-3">Registros del paciente: </h5>
    <div id="containerhistoria" class="container-fluid d-inline-block p-0">
    </div>
  </div>
</div>
{{! --------------- }}
{{> footer}}