{{> head}}
{{! --------------- }}
<div class="container align-middle">
    <h4 class = 'text-center'>Seleccione un paciente</h4><br>


    
        <div class = 'card  border-primary'>
            <div class="card-body">
            <span class ="d-flex bd-highlight d-block border-bottom">Motivo de la consulta:  
             {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
             </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Diadnostico: 
            {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
            </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Proxima revision: 
            {{!<label class = 'w-25 p-3  justify-content-center border'></label><br>}}
            </span><br>

            <span class = 'd-flex bd-highlight d-block border-bottom'>Especialista: 
            {{!<label class = 'w-25 p-3  justify-content-center border border-primary '></label><br>}}
            </span>
            </div>
            <label><i class="fas fa-align-left"></i> Nombre </label>
<span>
<h1> <i class="fas fa-></i> Turno </h1>
        </div>
    
</div>
{{! --------------- }}
{{> footer}}