{{> head}}
{{! --------------- }}
<div class="container">
    <div class="card border-primary">
        <div class="card-body">
        <label for="">Nombre:</label><br>
        <label for="">Apellido:</label><br>
        <label for="">Numero de documento:</label><br>
        <a href="historiaClinica/historia" class="btn btn-primary">Historial</a>
        </div>
    </div>
</div>
{{! --------------- }}
{{> footer}}