{{> head}}
{{! --------------- }}
<div class="container">

    <form action="" id="form-input-paciente">
        <input type="number" id="input-paciente" class="form-control mb-2 w-75" placeholder="Ingrese el dni del paciente">     
        <button class="btn btn-primary mb-3" type="submit" id="btn-form">Buscar</button>
         <span id="label-notfound" class="label ml-2" hidden>No se ha encontrado el paciente.</span>
    </form>


    <div class=".d-none">
        <div class="card border-primary">
            <div class="card-body">
                <label id="nombre">Nombre:</label><br>
                <label id="apellido">Apellido:</label><br>
                <label id="dni">Numero de documento:</label><br>
                <a  id="mostrarHistorial" class="btn btn-primary">Ver Historial</a>
            </div>
        </div>
    </div>
</div>
{{! --------------- }}
{{> footer}}
