{{> head}}
{{! --------------- }}
<div class="container">
    <form id="form1">

        <div class="form-row ">
            <div class="form-group col-md-6">
                <label class="label1">Motivo de Consulta:</label>
                <input class="form-control" type="text"><br>
            </div>
            <div class="form-group col-md-6">
                <label class="label1">Diagnostico:</label>
                <input class="form-control" type="text" >
            </div><br>
        </div>
            <div class="form-group">
                <label class="label1">Proxima revision:</label>
                <input class="form-control" type="text" >
            </div><br>
            <div class="form-group">
                <label class="label1">Especialista:</label>
                <input class="form-control" type="text"  ><br>
            </div>
            

        
    </form>
</div>
{{! --------------- }}
{{> footer}}