{{> head}}
{{! --------------- }}
<div class="container">
    <h1>Ingrese los datos de la consulta</h1>
    <form id="form1">
            <div class="form-group">
                <label class="label1">Paciente:</label>
                <input class="form-control" type="text" >
            </div>

        <div class="form-row ">
            
            <div class="form-group col-md-6">
                <label class="label1">Motivo de Consulta:</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group col-md-6">
                <label class="label1">Diagnostico:</label>
                <input class="form-control" type="text" >
            </div>
        </div>

            <div class="form-group">
                <label class="label1">Descripcion del analisis:</label>
                <input class="form-control" type="text" >
            </div>
            <div class="form-group">
                <label class="label1">Descripcion de la receta:</label>
                <input class="form-control" type="text" >
            </div>
            <div class="form-group">
                <label class="label1">Proxima revision:</label>
                <input class="form-control" type="text" >
            </div>
            <div class="form-group">
                <label class="label1">Especialista:</label>
                <input class="form-control" type="text"  >
            </div>
            

        
    </form>
</div>
{{! --------------- }}
{{> footer}}