{{> head}}
{{! --------------- }}
<div class="container">
    <form id="form1">

        <div class="row m-5">
            <div class="row-4">
                <label class="label1">Motivo de Consulta:</label>
                <input class="form-control" type="text"><br>
            </div>
            <div class="row-4">
                <label class="label1">Diagnostico:</label>
                <input class="form-control" type="text" ><br>
            </div>
            <div class="row-4">
                <label class="label1">Proxima revision:</label>
                <input class="form-control" type="text" ><br>
            </div>
            <div class="row-4">
                <label class="label1">Especialista:</label>
                <input class="form-control" type="text"  ><br>
            </div>
            

        </div>
    
</div>
{{! --------------- }}
{{> footer}}