<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom">
  <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
    <span class="navbar-toggler-icon"></span>
  </a>
  <a class="navbar-brand text-primary text-lowercase font-weight-bold" href="/">
    <i class="fas fa-laptop-medical"></i> TecnoSalud
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <div>
      <a class="nav-link rounded-pill border border-primary" href="/usuario/login">Ingresar</a>
    </div>
  </div>
</nav>