<div id="sidebar-wrapper" class="border-right">
  <div class="accordion" id="accordionExample">
  <div class="card border-0">
    <div class="card-header bg-white border-0 py-2" id="headingOne">
        <button class="btn btn-link dropdown-toggle btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Turnos
        </button>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Menu
      </div>
    </div>
  </div>

  <!-- administrar -->
  <small class="nav-subtitle">Admnistracion</small>

  <div class="card border-0">
    <div class="card-header bg-white border-0 py-2" id="headingOne">
        <button class="btn btn-link dropdown-toggle btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="far fa-user"></i> Registrar
        </button>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body my-0 py-0">
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
        </nav>
      </div>
    </div>
    </div>
</div>
</div>
