{{> head}}
{{! --------------- }}
<div class="container">
  <h1><i class="fas fa-medkit"></i> Obras sociales</h1>
  <p class="lead">Lista de obras sociales cargadas en el sistema. Si deseas cargar una nueva obra social <a href="/obrassociales/alta">haz click aqui</a>.</p>
  <section>
    <table class="table" id="tablaObras">
      <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Sigla</th>
        <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody id="bodyTableObras">
      </tbody>
      </table>
  </section>
</div>
{{! --------------- }}
{{> footer}}