{{> head}}
{{! --------------- }}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5" id="div-especialista">
            <h2>Registrar Especialista</h2>
        </div>
    </div>
    <form id="form-especialista">
        <div class="row mt-5">
            <div class="col-4 m-auto">
                <label class="font-weight-bolder col-form-label-lg">Seleccione el profesional: </label>
                <input class="form-control" list="listprofesionales" name="profesional"
                    id="input-especialista-profesionalid" required>
                <datalist id="listprofesionales">

                </datalist>

            </div>
        </div>
        <div class="row">
            <div class="col-4 m-auto">
                <label class="font-weight-bolder col-form-label-lg">Seleccione especialidad: </label>
                <input list="listespecialidades" class="form-control" name="especialidad"
                    id="input-especialista-especialidadid" required>
                <datalist id="listespecialidades">

                </datalist>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col">
                <h6 for="dias" class="font-weight-bolder col-form-label-md ">Seleccione los dias:</h6>

                <select class="form-control w-75" name="dias" required>
                    <option value="" >Seleccione un dia</option>
                    <option value=1>Lunes</option>
                    <option value=2>Martes</option>
                    <option value=3>Miercoles</option>
                    <option value=4>Jueves</option>
                    <option value=5>Viernes</option>
                </select>
            </div>
            <div class="col align-content-center">
                <label class="font-weight-bolder col-form-label-md" for="appt">Hora de inicio de jornada:</label>
                <input type="time" class="form-control w-75" name="horarioinicio" required>
            </div>

            <div class="col">
                <label class="font-weight-bolder col-form-label-md" for="appt">Hora de finalización de jornada:</label>
                <input type="time" class="form-control w-75" name="horariofin" required>
            </div>
        </div>


        <div id="agregardias">
            {{!-- place for add days --}}
        </div>

        <button class="btn btn-primary  mt-3" id="btndias" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>

        <div class="row text-center">
            <div class="col-12">
                <button class="btn btn-primary w-25 mt-4" id="btnform" type="submit">Crear</button>
            </div>
        </div>

    </form>
</div>

{{! --------------- }}
{{> footer}}