{{> head}}
{{! --------------- }}
<div class="container text-center bg-transparent m-5 mx-auto text-muted">
    <i class="fas fa-times m-5" style="font-size: 8em"></i>
    <h1 class="font-weight-normal">Parece que esta página no existe.</h1>
    <a href="/" class="btn btn-lg btn-primary px-4 m-5">Ir a la página principal</a>
</div>
{{! --------------- }}
{{> footer}}