{{> head}}
{{! --------------- }}
<div id="div-especialidad">
  <h2 id="title-especialidad">Registrar Especialidad</h2>

    <form id="form-especialidad">
    <label id="label-especialidad">Ingrese Especialidad: </label>
    <input type="text" id="input-especialidad">
    
    <button id="btn-especialidad" class="btn btn-primary" type="submit">Crear</button>
</form>
</div>
{{! --------------- }}
{{> footer}}