{{> head}}
<div class="container">
  <header class="border-bottom py-1 mb-3">
    <h1 class="font-weight-normal"><i class="fas fa-calendar-day text-muted"></i> Agenda del día</h1>
  </header>
  <section class="m-auto">
    <table class="table border">
      <thead class="text-center text-muted">
        <th scope="col" class="font-weight-normal">Horario</th>
        <th scope="col" class="font-weight-normal">Información</th>
        <th scope="col" class="font-weight-normal">Historial Clínico</th>
        <th scope="col" class="font-weight-normal">Derivar</th>
      </thead>
      <tbody>
        <tr>
          <td style="font-size: 1.5em;"><i class="fas fa-clock"></i> 9:00 - 9:30</td>
          <td><a class="btn btn-outline-secondary "><i class="far fa-address-card"></i> Datos del paciente</a></td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-outline-primary"><i class="fas fa-file-medical-alt"></i> Ver Historial Clínico</a>
              <a class="btn btn-outline-success "><i class="fas fa-notes-medical"></i> Agregar Historial Clínico </a>
            </div>
          </td>
          <td><a class="btn btn-outline-danger"><i class="fas fa-hand-holding-medical"></i> Asignar turno</a></td>
        </tr>
        <tr>
          <td style="font-size: 1.5em;"><i class="fas fa-clock"></i> 10:00 - 10:30</td>
          <td><a class="btn btn-outline-secondary "><i class="far fa-address-card"></i> Datos del paciente</a></td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-outline-primary"><i class="fas fa-file-medical-alt"></i> Ver Historial Clínico</a>
              <a class="btn btn-outline-success "><i class="fas fa-notes-medical"></i> Agregar Historial Clínico </a>
            </div>
          </td>
          <td><a class="btn btn-outline-danger"><i class="fas fa-hand-holding-medical"></i> Asignar turno</a></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
{{> footer}}