{{> head}}
<div class="container p-5">
  <header class="py-1 mb-3 text-center">
    <h1 class=""><i class="fas fa-calendar-day"></i> Agenda del día</h1>
    <hr>
    <p class="font-weight-normal" id="infoLaboral">

      <span>
        <i class="fas fa-user-md text-secondary"></i> <span id="especialidad"></span> 
      </span>
      <span class="px-3">
        <i class="fas fa-calendar-day text-secondary"></i> <span id="fechaHoy"></span>
      </span>
     <span>
       <i class="fas fa-user-clock text-secondary"></i> <span id="jornada"></span></p>
     </span>
    </p>
    <hr>
  </header>
  <section class="m-auto">
    <table class="table border">
      <thead class="text-center text-muted">
        <th scope="col" class="font-weight-normal">Horario</th>
        <th scope="col" class="font-weight-normal">Información</th>
        <th scope="col" class="font-weight-normal">Historial Clínico</th>
        <th scope="col" class="font-weight-normal">Derivar</th>
      </thead>
      <tbody id="tBodyAgenda">
          <td colspan="4">
            <div class="text-center my-5">
              <div class="spinner-grow text-secondary" role="status" style="width: 6em; height: 6em;">
              <span class="sr-only">Cargando...</span>
              </div>
              <p class="lead text-muted pt-4">Cargando agenda...</p>
            </div>
          </td>
      </tbody>
    </table>
  </section>
</div>
{{> footer}}