{{> head}}
<div class="container">
  <div class="alert alert-success hidden" role="alert" style="display: none;">
    <h4 class="alert-heading">Se ha reservado tu turno con éxito!</h4>
    <p>En breve le aparecerá en la lista de <a href="/turnos/mis-turnos">Mis turnos</a>.</p>
    <p>Espere unos segundos y será redirigido a la lista de sus turnos vigentes.</a>.</p>
  </div>
  <div id="seccionSolicitudTurnos">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1 class="display-5 mt-5 text-center">Elija la especialidad la cual desea reservar un turno</h1>
        <form id="especialidadForm">
          <div class="form-row justify-content-md-center mt-5">
            <div class="col-sm-10 my-1">
              <label class="mr-sm-2 sr-only" for="selectEspecialidad">Especialidad</label>
              <select name="especialidad" class="form-control form-control-lg" id="selectEspecialidad">
                <option >Seleccione una especialidad</option>
                <option value="10">Clínico</option>
                <option value="10">Clinico2</option>
              </select>
            </div>
            <div class="col-auto my-1">
              <button id="buscarTurnosPorEspecialidad" class="btn btn-lg btn-primary">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <table id="tablaDeTurnos" class="table text-center d-none">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{> footer}}