{{> head}}
{{! --------------- }}
<div class="container">
    <h1 style="text-align: center;">Información de Turno</h1><br>
    <div class="blocks">
        <div class="turno border-bottom border-right border-primary rounded-lg" >
            <h5 class="tituloTurno bg-primary rounded-top">Datos de turno</h5>
            <div class="datosTurno">
                <div class="column">
                    <div>Especialista: </div>
                    <p class="especialista">Doctor Who</p>
                </div>
                <div class="column">
                    <div>Fecha: </div>
                    <p class="fecha">22-11-2020</p>
                </div>
                <div class="column">
                    <div>Hora de inicio: </div>
                    <p class="horaInicio">15:20</p>
                </div>
            </div>
        </div>

        <div class="paciente border-bottom border-right border-primary rounded-lg">
            <h5 class="tituloPaciente bg-primary rounded-top">Datos del paciente</h5>
            <div class="pacienteIcons">
                <div class="iconsContainer">
                    <svg width="175px" height="175px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="#007bff"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                    </svg>
                    <div class="button">
                        <a href="/historiaClinica/historia" class="rounded-pill btn btn-primary">Ver
                            Historia Clinica</a>
                    </div>
                </div>
                <div class="datosPaciente">
                    <div>Nombre: </div>
                    <p class="nombre">Juan</p>
                    <div>Apellido: </div>
                    <p class="apellido">Espinosa</p>
                    <div>Fecha de Nacimiento: </div>
                    <p class="fechaNacimiento"> 15-10-1994</p>
                    <div>Domicilio: </div>
                    <p class="domicilio">posadas</p>
                    <div>Email: </div>
                    <p class="email">juanjavierzerofour@gmail.com</p>
                    <div>Telefono: </div>
                    <p class="telefono">45266548613</p>
                    <div>Estado civil: </div>
                    <p class="estadoCivil">soltero</p>
                    <div>Nacionalidad: </div>
                    <p class="nacionalidad">argentina</p>
                    <div>Numero de Obra Social: </div>
                    <p class="obraSocial">1111654</p>

                </div>
            </div>

        </div>
    </div>
</div>
{{! --------------- }}
{{> footer}}