{{> head}}
{{! --------------- }}
<div class="container" >
    <h1 style="text-align: center;">Información de Turno</h1><br>
    <div style="display: grid; grid-template-columns: 40% 60%; gap: 0.5em;">
        <div class="turno border-bottom border-right border-primary"
            style="padding: 1em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" ;>
            <h5 class="card-title">Datos de turno</h5>
            <ul style="display: grid; grid-template-rows: repeat(9, 30px); grid-template-columns: 40% 60%;">
                <li>Especialista: </li>
                <p class="especialista"></p>
                <li>Fecha: </li>
                <p class="fecha"></p>
                <li>Hora de inicio: </li>
                <p class="horaInicio"></p>
            </ul>
        </div>

        <div class="paciente border-bottom border-right border-primary"
            style="padding: 1em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h5>Datos del paciente</h5>
            <ul style="display: grid; grid-template-rows: repeat(9, 30px); grid-template-columns: 40% 60%;">
                <li>Nombre: </li>
                <p class="nombre"></p>
                <li>Apellido: </li>
                <p class="apellido"></p>
                <li>Fecha de Nacimiento: </li>
                <p class="fechaNacimiento"></p>
                <li>Domicilio: </li>
                <p class="domicilio"></p>
                <li>Email: </li>
                <p class="email"></p>
                <li>Telefono: </li>
                <p class="telefono"></p>
                <li>Estado civil: </li>
                <p class="estadoCivil"></p>
                <li>Nacionalidad: </li>
                <p class="nacionalidad"></p>
                <li>Numero de Obra Social: </li>
                <p class="obraSocial"></p>
            </ul>
            <div>
                <a href="/historiaClinica/historia" class="rounded-pill btn btn-primary">Ver Historia Clinica</a>
            </div>
        </div>
    </div>
</div>
{{! --------------- }}
{{> footer}}