{{> head}}
{{! --------------- }}
<div class="container bg-transparent">
    <div class="row">
        <div class="card mx-auto p-5 my-5 border-0">
            <h2 class="lead">¿Estas seguro de finalizar tu sesion?</h2>
            <button id="logOutbtn" class="btn btn-danger btn-block my-4 btn-lg">Cerrar sesion</button>
        </div>
    </div>
</div>
{{! --------------- }}
{{> footer}}