{{> head}}
{{! --------------- }}
<div class="container pb-5">
  <header>
    <h1>Crear cuenta</h1>
    <p class="lead">Por favor, complete los siguientes datos<span class="text-danger">*</span></p>
  </header>
  <form id="registroPaciente">
    <div id="showAlert"></div>
    <section>
      <div class="form-row mb-4">
        <div class="col">
          <label for="sexo">Nombre/s<span class="text-danger">*</span> </label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres" required>
        </div>
        <div class="col">
          <label for="sexo">Apellido/s<span class="text-danger">*</span> </label>
          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellidos" required>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col">
          <label for="sexo">DNI<span class="text-danger">*</span> </label>
          <input type="number" class="form-control" id="dni" name="dni" placeholder="DNI" required>
        </div>
        <div class="col">
          <label for="sexo">Sexo<span class="text-danger">*</span> </label>
          <select class="form-control" id="sexo" name="sexo" required>
            <option selected value="">Seleccionar sexo</option>
            <option>Femenino</option>
            <option>Masculino</option>
            <option>Otro</option>
          </select>
        </div>
      </div>
      <section>
      <div class="form-group">
        <label for="email">Email<span class="text-danger">*</span> </label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="tel" class="form-control" id="telefono" name="telefono">
      </div>
      <div class="form-group">
        <label for="password">Contraseña nueva<span class="text-danger">*</span> </label>
        <small class="small text-muted">Debe tener un mínimo de 8 caracteres</small>
        <input type="password" class="form-control" id="user-password" name="password" minlength="8" required>
        <label for="password2">Confirmar contraseña<span class="text-danger">*</span> </label>
        <small class="small text-muted">Vuelva a ingresar la contraseña</small>
        <input type="password" class="form-control" id="password2" name="password2" minlength="8" required>
      </div>
    </section>
    <p class="small"><span class="text-danger">*</span> Campos son requeridos</p>
    <button type="submit" class="btn btn-success btn-lg m-auto btn-block">Crear cuenta</button>
</form>
</div>
{{! --------------- }}
{{> footer}}