{{> head}}
<div class="container">
  <h1 class="display-5 mt-5 text-center">Mis Turnos</h1>
  <div class="row mt-5">
    <div class="col">
      <table id="tablaDeTurnos" class="table text-center">
        <thead>
          <tr>
            <th scope="col">Turno ID</th>
            <th scope="col">Especialista</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Consultorio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{> footer}}