{{> head}}
{{! --------------- }}
<div class="container p-5">
  <header>
    <h1><i class="far fa-address-card"></i> Datos de paciente</h1>
  </header>
  <hr class="my-3">
    <!-- datos personales -->
    <section id="datosPaciente">
      <div id="showError" class="alert alert-danger d-none"></div>
      <p>
        <span class="d-block text-muted font-weight-light">Nombre:</span>
        <span id="nombre" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">Apellido:</span>
        <span id="apellido" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">DNI:</span>
        <span id="dni" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">Sexo:</span>
        <span id="sexo" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">Nacionalidad:</span>
        <span id="nacionalidad" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">Estado civil:</span>
        <span id="estadocivil" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">Fecha de nacimiento:</span>
        <span id="fechanacim" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">Obra social:</span>
        <span id="obrasocial" class="border-bottom"></span>
      </p>
      <p>
        <span class="d-block text-muted font-weight-light">ID de Paciente:</span>
        <span id="pacienteId" class="border-bottom"></span>
      </p>
    </section>
</div>
{{! --------------- }}
{{> footer}}