{{> head}}
{{! --------------- }}
<div class="container">
  <h1>Lista de pacientes</h1>
  <section>
    <table class="table" id="tablaPacientes">
      <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">User ID</th>
        </tr>
      </thead>
      <tbody id="bodyTPacientes">
      </tbody>
      </table>
  </section>
</div>
{{! --------------- }}
{{> footer}}